.Banner{
    height: 605px;
    a{
        text-decoration: none;
    }
    .common{
        width: 1200px;
        margin: 0 auto;
        .bannerContainer{
            height: 545px;
            width: 100%;
            cursor: pointer;
            .swiper-wrapper{
                width: 100%;
                height: 100%;
                .swiper-slide{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    
}